
<h3>Class Roster</h3>

<%= link_to "Add more students", new_group_student_path(@group) %> | 
<%= link_to "Class settings", "/groups/#{@group.id}/class_settings" %> | 
<%= link_to "Back to #{@group.title}", group_path(@group) %>

<div class="row">
  <div class="table">
    <% @group.alpha_students.each do |student| %>
      <div class="tr">  
        <%= form_for [@group, student] do |f| %>
          <span class="td"><%= f.label "First:" %><%= f.text_field :first_name %></span>
          <span class="td"><%= f.label "Last:" %><%= f.text_field :last_name %></span>
          <span class="td"><%= f.label "Gender:" %><%= f.select :gender, [['Male', 'male'], ['Female', 'female']] %></span>
          <span class="td"><%= f.submit "Save Change" %></span>
        <% end %>
        <span class="td"><%= button_to "Remove student", group_student_path(@group, student), method: :delete %></span>
      </div>
    <% end %>
  </div>
</div>
