
<h3>Class Roster</h3>

<%= link_to "Add more students", new_group_student_path(@group) %> | 
<%= link_to "Class settings", "/groups/#{@group.id}/class_settings" %> | 
<%= link_to "Back to #{@group.title}", group_path(@group) %>

<div class="row">
  <table style="width:100%">
    <thead>
      <tr>
        <th>First</th>
        <th>Last</th>
        <th>Gender</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
        <tr>
          <%= form_for [@group, student] do |f| %>
            <td><%= f.text_field :first_name %></td>
            <td><%= f.text_field :last_name %></td>
            <td><%= f.select :gender, [['Male', 'male'], ['Female', 'female']] %></td>
            <td><%= f.submit "Save Change" %></td>
          <% end %>
          <td><%= button_to "Remove student", group_student_path(@group, student), method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

