
<h3>Class Roster</h3>
<table>
  <tr>
    <th>First</th>
    <th>Last</th>
    <th>Gender</th>
    <th colspan="2"></th>
  </tr>
  <% @students.each do |student| %>
    <%= form_for [@group, student] do |f| %>

      <% if student.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(student.errors.count, "error") %>
            prohibited this student from being saved:</h2>
          <ul>
          <% student.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <tr>
        <td><%= f.text_field :first_name %></td>
        <td><%= f.text_field :last_name %></td>
        <% if student.gender == 'male' %>
          <td>Female: <%= f.radio_button :gender, "female" %>
          Male: <%= f.radio_button :gender, "male", checked: true %></td>
        <% else %>
          <td>Female: <%= f.radio_button :gender, "female", checked: true %>
          Male: <%= f.radio_button :gender, "male" %></td>
        <% end %>
        <td><%= f.submit "Save change" %><td>
        <td><%= button_to "Remove student", group_student_path(@group, student), method: :delete %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<%= link_to "Add another student", new_group_student_path(@group) %><br>
<%= link_to "Back", group_path(@group) %>
