<h2>Class Settings</h2>

<p><strong>On this page you can set parameters for this group's randomization. These extra filters will NOT be displayed on any other page.</strong></p>

<p>With this button checked, every randomization will create mixed gender groups. If your roster does not contain enough girls or boys for every group to be mixed, the program will spread out the minority gender as much as possible. This feature defaults to mixed, as studies show that mixed gender groups are better.</p>

<%= form_for :group, url: "/groups/#{@group.id}/gender_setter", method: :put do |f| %>
  <%= f.label :genderfied, "Gender Mixed:" %>
  <%= f.check_box "genderfied" %>
  <%= f.hidden_field "title" %>
  <%= f.submit 'Save selection' %>
<% end %>

<P>You may also set pairs of students that should never be grouped together. Whether these students don't get along, or they goof off so much that your classroom environment suffers, this option will keep the randomizer from ever putting them in the same group.</p>

<%= form_for :separation, url: "/groups/#{@group.id}/separations", method: :post do |f| %>
  <%= f.label "Student 1:" %>
  <%= f.select :person1_id, @students.collect { |student| [ "#{student.first_name} #{student.last_name}", student.id ] } %>
  <%= f.label "Student 2:" %>
  <%= f.select :person2_id, @students.collect { |student| [ "#{student.first_name} #{student.last_name}", student.id ] } %>
  <%= f.submit "Keep these two separate" %>
<% end %>

<% if @group.separations.length != 0 %>
  <h5>Current separated students: (3 cases maximum)</h5>
  <% @group.separations.each do |separt| %>
    <%= separt.id1_to_name %> will not be grouped with <%= separt.id2_to_name %> - <%= link_to "Remove Separation", group_separation_path(@group, separt), method: :delete, data: { confirm: "Are you sure you want to erase this clause?" } %><br>
  <% end %>
<% end %>

<div class="navbar-text">
  <%= link_to "Back", "/groups/#{@group.id}" %>
</div>