<%= form_for(@group) do |f| %>

  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %>
        prohibited this group from being saved:</h2>
      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :title, "Class title" %><br>
    <%= f.text_field :title %>
  </p>
  <%= f.hidden_field :genderfied, value: "1" %>
  <%= f.submit "Start adding students" %>

<% end %><br>

<%= link_to "Back", groups_path %>