<%= form_tag("/groups/#{@group.id}/grouping") do %>
  <%= label_tag 'Number of groups' %> 
  <%= number_field_tag 'number', nil, min: 2, max: ("#{@group.students.length}".to_i+1)/2 %><br>
  Gender specific groups:<%= check_box_tag 'gender_specific' %>(not yet setup)<br>
  <%= submit_tag 'Create random groups' %>
<% end %>

<p>Display randomization below (in a partial), with prompt that user can randomize once again.
</p>

<% if Randomizer.group_id == @group.id %>
  <%= render 'subgroups' %>
<% end %>

<%= link_to "Back", group_path %> 