<h3>Random Groups for <%= @group.title %></h3>

<div class="col-xs-12 text-center">
  <%= form_tag("/groups/#{@group.id}/grouping") do %>
    <%= label_tag 'Number of groups' %> 
    <%= number_field_tag 'number', nil, min: @min, max: @max %>
    <%= submit_tag 'Create random groups' %>
  <% end %>
</div>

<% if @group == Randomizer.group %>
  <%= @final_groups %>
<% end %>

<div class="navbar-text col-xs-12">
  <%= link_to "Back", group_path %> 
</div>